<!doctype html>
<html lang="en">
<% include include/head.html %>
<body ng-app="myApp">
<!-- <% //include login.html %> -->
<div class="wrapper">
    <!-- Side bar -->
    <!-- Side bar -->
    <!-- Side bar -->
    <% include include/sidebar_company.html %>
    

    <!-- Right main panel -->
    <!-- Right main panel -->
    <!-- Right main panel -->
    <div class="main-panel">
        <!-- Right main panel - navbar -->
        <% include include/navbar.html %>


        <!-- Right main panel - content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="text-muted"><i class="pe-7s-note2"></i> 
                                Edit Post
                                <% if(!locals.params){ %>
                                    =no job ID=
                                <% } else { %>
                                    <%= params %>
                                <% } %>
                                </h4>
                            </div>

                            <div class="content table-responsive">

                            <% if(!locals.params){ %>
                                <h1>no job ID</h1> <br> 
                                <%= params %>
                            <% } else {%>

                            <div class="content" ng-controller="myCtrl">
                                <form ng-show="job">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Job Title</label>
                                                <input type="text" class="form-control"  placeholder="jobtitle" name="jobtitle" value="{{job.ID}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Office Location</label>
                                                <input type="text" class="form-control" placeholder="officelocation" name="officelocation" value="{{job.Name}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Salary</label>
                                                <input type="text" class="form-control" placeholder="salary" name="salary" value="{{job.Salary}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Responsibility</label>
                                                <textarea type="text" class="form-control"  placeholder="responsibility" name="responsibility">{{job.Country}}
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea type="text" class="form-control"  placeholder="description" name="description">{{job.City}}
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>

                                    


                                    <button type="submit" class="btn btn-info btn-fill pull-right">Update <i class="pe-7s-note"></i></button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>


                                <% } %>

                                 <button class="btn btn-info btn-fill" onclick="goBack()">Go Back
                                </button>

                            </div>

                              

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>


        <!-- Right main panel - footer -->
        <% include include/footer.html %>

    </div>
</div>


</body>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
    $http.get("job").success(function (response){
            $scope.job = response;
        }
    );
});
</script>
	<!-- <script type="text/javascript">
    	$(document).ready(function(){

        	demo.initChartist();

        	$.notify({
            	icon: 'pe-7s-gift',
            	message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

            },{
                type: 'info',
                timer: 4000
            });

    	});
	</script> -->

</html>
