[
    {
        "ID":1,
        "Name":"George",
        "Salary":"100,000",
        "Country":"United States",
        "City":"Redwood",
        "Status":"Offererd"
    }, 
    {
        "ID":2,
        "Name":"George",
        "Salary":"100,000",
        "Country":"United States",
        "City":"Redwood",
        "Status":"Rejected"
    }, 
    {
        "ID":3,
        "Name":"George",
        "Salary":"100,000",
        "Country":"United States",
        "City":"Redwood",
        "Status":"Pending"
    }
]