<!doctype html>
<html lang="en">    
<% include include/head.html %>
<body ng-app="myApp">
<!-- <% //include login.html %> -->
<div class="wrapper">
    <!-- Side bar -->
    <!-- Side bar -->
    <!-- Side bar -->
    <% include include/sidebar_user.html %>

    <div class="main-panel">
        <!-- Right main panel - navbar -->
        <% include include/navbar.html %>


        <!-- Right main panel - content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">My Profile</h4>
                            </div>
                            <div class="content">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Company</label>
                                                <!-- <input type="text" class="form-control" disabled placeholder="Company" value="Creative Code Inc."> -->
                                                <p>ASUS</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <p>lucky20511</p>
                                                <!-- <input type="text" class="form-control" placeholder="Username" value="lucky20511"> -->
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <p>lucky20511@gmail.com</p>
                                                <!-- <input type="email" class="form-control" placeholder="Email" value="lucky20511@gmail.com"> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <p>HsunFu</p>
                                                <!-- <input type="text" class="form-control" placeholder="Company" value="Mike"> -->
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <p>Liu</p>
                                                <!-- <input type="text" class="form-control" placeholder="Last Name" value="Andrew"> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <p>1314 Dryden Drive San Jose CA 95131</p>
                                                <!-- <input type="text" class="form-control" placeholder="Home Address" value="1314 Dryden Drive San Jose CA 95131"> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>City</label>
                                                <p>San Jose</p>
                                                <!-- <input type="text" class="form-control" placeholder="City" value="San Jose"> -->
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <p>United State</p>
                                                <!-- <input type="text" class="form-control" placeholder="Country" value="United State"> -->
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Postal Code</label>
                                                <p>95131</p>
                                                <!-- <input type="number" class="form-control" placeholder="ZIP Code" value="95131"> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>About Me</label>
                                                <p>George is a bitch</p>
                                                <!-- <textarea rows="5" class="form-control" placeholder="Here can be your description">George is a bitch</textarea> -->
                                            </div>
                                        </div>
                                    </div>

                                    <a href="editprofile"><button type="submit" class="btn btn-info btn-fill pull-right">Edit <i class="pe-7s-pen"></i></button></a>
                                    <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                    <img class="avatar border-gray" src="assets/img/faces/face-g.jpg" alt="..."/>
                                      <h4 class="title">HsunFu Liu </h4>
                                </div>
                                <!-- <p class="description text-center"> "Lamborghini Mercy <br>
                                                    Your chick she so thirsty <br>
                                                    I'm in that two seat Lambo"
                                </p> -->
                            </div>
                            <!-- <hr>
                            <div class="text-center">
                                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

                            </div> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- Right main panel - footer -->
        <% include include/footer.html %>

    </div>
</div>


</body>

	<!-- <script type="text/javascript">
    	$(document).ready(function(){

        	demo.initChartist();

        	$.notify({
            	icon: 'pe-7s-gift',
            	message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

            },{
                type: 'info',
                timer: 4000
            });

    	});
	</script> -->

</html>
